@charset "ISO-8859-1";

img{
	
	width: 100px;
	height: 100px;
}

table{
	
	border: 2px solid blue;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

tr,th,td{
	
	border: 2px solid blue;
}

ul>li{
	
	display: inline;
}

a{
	margin: 10px;
	text-decoration: none;
}


